<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_website_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="url">{% include icons/icon-website.html %}</a></li>
  {% endif %}

  <!-- HackerEarth link -->
  {% if site.resume_social_links.resume_hackerearth_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_hackerearth_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-hackerearth.html %}</a></li>
  {% endif %}


  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  <!-- LeetCode link -->
  {% if site.resume_social_links.resume_leetcode_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_leetcode_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-leetcode.html %}</a></li>
  {% endif %}

  <!-- HackerRank link -->
  {% if site.resume_social_links.resume_hackerrank_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_hackerrank_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-hackerrank.html %}</a></li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-linkedin.html %}</a></li>
  {% endif %}


  <!-- Twitter link -->
  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_twitter_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}

  <!-- Medium link -->
  {% if site.resume_social_links.resume_medium_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_medium_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="url">{% include icons/icon-medium.html %}</a></li>
  {% endif %}

  <!-- Dribbble link -->
  {% if site.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_dribbble_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-dribbble.html %}</a></li>
  {% endif %}

  <!-- Facebook link -->
  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_facebook_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-facebook.html %}</a></li>
  {% endif %}


  <!-- Instagram link -->
  {% if site.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_instagram_url }}" class="icon-link"
      target="_blank" rel="noopener noreferrer" itemprop="sameAs">{% include icons/icon-instagram.html %}</a></li>
  {% endif %}



</ul>
{% endif %}